@import url('https://fonts.googleapis.com/css?family=Poppins');

.btn-primary {
    transition: all .5s;
    padding: 10px 25px;
    border-radius: 4px;
    text-decoration: none;
    line-height: 15px;
    background: linear-gradient(90deg, #5A1660 0%, #4E1598 100%);
    border-radius: 5px;
    color: white;
    border: none;
    height: 50px;
}
.btn-primary:hover {
    background-color:white;
    color: #392554;
}

.btn-secondary {
    transition: all .5s;
    border: thin solid #230C41;
    padding: 10px 15px;
    border-radius: 4px;
    color: #392554;
    background-color: white;
    text-decoration: none;
    line-height: 15px;
}
.btn-secondary:hover {
    background-color:#392554;
    color: white;
}

.btn-tertiary {
    transition: all .5s;
    border: thin solid #230C41;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: white;
    text-decoration: none;
    line-height: 15px;
}
.btn-tertiary:hover {
    background-color:#392554;
    color: white;
}

.header-link {
    text-decoration: none;
}
a {
    color: #392554;
}
body {
    font-family: 'Poppins', 'sans-serif' !important;
}
.site-pattern {
    background-image: url("../images/background.png");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}
.site-container {
    max-width: 1100px;
    padding: 30px;
    margin: 0 auto;
}
footer {
    margin: 0 auto;
    background-color: white;
}
.footer-logo {
    padding: 75px 0px;
    margin: 0 auto;
    display: block;
}