.header {
    background: white;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    .header-wrap {
        display: flex;
        height: 64px;
        align-items: center;
        .header-logo {
            flex-grow: 1;
            margin-left: 20px;
            img {
                margin-bottom: 0px;
            }
        }
        .header-link {
            margin-left: 20px;
        }
    }
    .contact {
        cursor: pointer;
    }
}
