.hero {
    background-color: #230C41;
    opacity: .9;
    color: white;
    padding: 75px 20px;
    h1 {
        line-height: 60px;
        font-size: 48px;
        @media screen and (max-width: 800px) {
            font-size: 28px;
            line-height: 38px;
        }
    }
}