.services-hero {
    background-color: #230C41;
    opacity: .9;
    color: white;
    padding: 75px 0px;
    h1 {
        line-height: 60px;
        font-size: 48PX;
    }
    p {
         margin-bottom: 3rem; 
         font-size: 28px; 
         line-height: 1.2;
         @media screen and (max-width: 800px) {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 800px) {
        padding: 40px 0px;
    }
}